In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [4]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [5]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [6]:
dependent=dataset[[ 'classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [18]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train_=sc.fit_transform(X_train)
X_test_=sc.transform(X_test)

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
param_grid = {'criterion':['gini','entropy'],'max_features': ['auto','sqrt','log2'],'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose= 3,n_jobs=-1,scoring='f1')
grid.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:    4.1s finished
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1', verbose=3)

In [21]:
re=grid.cv_results_
grid_predictions = grid.predict(X_test_)

In [22]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,grid_predictions)

In [23]:
cm

array([[50,  1],
       [ 1, 81]], dtype=int64)

In [24]:
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,grid_predictions)

In [25]:
clf_report

'              precision    recall  f1-score   support\n\n           0       0.98      0.98      0.98        51\n           1       0.99      0.99      0.99        82\n\n    accuracy                           0.98       133\n   macro avg       0.98      0.98      0.98       133\nweighted avg       0.98      0.98      0.98       133\n'

In [26]:
print(grid.best_params_)

{'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 10}

In [31]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.9996413199426113

In [27]:
table=pd.DataFrame.from_dict(re)

In [28]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.026053,0.007368,0.010420,7.367831e-03,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.973913,0.933333,0.990991,0.965985,0.024179,12
1,0.183161,0.019511,0.015635,4.270881e-06,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",0.991150,0.962963,0.982143,0.978739,0.011775,2
2,0.032730,0.014418,0.004005,5.663525e-03,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.982456,0.972477,0.982143,0.979014,0.004637,1
3,0.241108,0.020619,0.020264,1.141632e-03,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.991150,0.962963,0.982143,0.978739,0.011775,2
4,0.030162,0.006553,0.007731,6.382434e-03,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.972973,0.962963,0.982143,0.972657,0.007826,8
5,0.211150,0.004387,0.019330,6.825584e-04,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.973451,0.972477,0.982143,0.976001,0.004337,4
6,0.037535,0.015401,0.005040,9.586969e-04,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.982143,0.953271,0.981818,0.972375,0.013548,10
7,0.178167,0.003555,0.015428,2.914424e-04,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.982456,0.962963,0.982143,0.975830,0.009125,5
8,0.032066,0.000586,0.005005,7.078648e-03,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.991150,0.933333,0.982143,0.968826,0.025434,11
9,0.205305,0.005978,0.021503,1.356114e-03,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.982456,0.962963,0.982143,0.975830,0.009125,5
10,0.039995,0.008550,0.005212,7.370641e-03,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.972973,0.962963,0.982143,0.972657,0.007826,8
11,0.172750,0.000020,0.015630,6.743496e-07,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.982456,0.962963,0.982143,0.975830,0.009125,5

In [32]:
from sklearn.metrics import f1_score
f1_macro=f1_score(Y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 10}: 0.9849624060150376

In [43]:
age_input=float(input("Age:"))
bp_input=float(input("BP:"))
pcv_input=float(input("pcv:"))
wc_input=float(input("wc:"))
rc_input=float(input("rc:"))
al_input=float(input("al:"))
su_input=float(input("su:"))
bgr_input=float(input("bgr:"))
bu_input=float(input("bu:"))
sc_input=float(input("sc:"))
sod_input=float(input("sod:"))
pot_input=float(input("pot:"))
hrmo_input=float(input("hrmo:"))
rbc_normal_input=int(input("rbc normal 0 or 1:"))
pc_normal_input=int(input("pc normal 0 or 1:"))
pcc_present_input=int(input("pcc present 0 or 1:"))
ba_present_input=int(input("ba present 0 or 1:"))
htn_yes_input=int(input("htn Yes 0 or 1:"))
dm_yes_input=int(input("dm Yes 0 or 1:"))
cad_yes_input=int(input("cad Yes 0 or 1:"))
sg_b_yes_input=int(input("sg_b Yes 0 or 1:"))
sg_c_yes_input=int(input("sg_c Yes 0 or 1:"))
sg_d_yes_input=int(input("sg_d Yes 0 or 1:"))
sg_e_yes_input=int(input("sg_e Yes 0 or 1:"))
appet_yes_input=int(input("appet Yes 0 or 1:"))
pe_yes_input=int(input("pe Yes 0 or 1:"))
ane_yes_input=int(input("ane Yes 0 or 1:"))

Age:56
BP:66
pcv:89
wc:45
rc:12
al:21
su:45
bgr:32
bu:457
sc:6
sod:45
pot:26
hrmo:12
rbc normal 0 or 1:0
pc normal 0 or 1:1
pcc present 0 or 1:0
ba present 0 or 1:0
htn Yes 0 or 1:1
dm Yes 0 or 1:1
cad Yes 0 or 1:1
sg_b Yes 0 or 1:0
sg_c Yes 0 or 1:1
sg_d Yes 0 or 1:0
sg_e Yes 0 or 1:0
appet Yes 0 or 1:1
pe Yes 0 or 1:1
ane Yes 0 or 1:1

In [44]:
Future_Prediction=grid.predict([[age_input,bp_input,al_input,pcv_input,wc_input,rc_input,su_input,bgr_input,bu_input,sc_input,sod_input,pot_input,hrmo_input,rbc_normal_input,pc_normal_input,pcc_present_input,ba_present_input,htn_yes_input,dm_yes_input,cad_yes_input,sg_b_yes_input,sg_c_yes_input,sg_d_yes_input,sg_e_yes_input,appet_yes_input,pe_yes_input,ane_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]